/* General style of header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Ensures that the logo and menu are aligned on the same line */
.header-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Logo style */
.logo-button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* Logo style */
.logo-image {
  height: 50px;
  width: auto;
  border-radius: 10%;
}

/* Menu style */
.menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu-item {
  position: relative;
  cursor: pointer;
}

/* Drop-down menu style */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f1f1f1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  list-style: none;
  padding: 10px 0;
  min-width: 150px;
  z-index: 10;
  border-radius: 5px;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdown-item:hover {
  background-color: #d6dbf0;
  border-radius: 5px;
}

/* Show drop-down menu when hovering */
.menu-item:hover .dropdown-menu {
  display: block;
}

/* Style of auth buttons */
.auth-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.auth-buttons .btn {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  background-color: #9eaae0;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Style of buttons */
.auth-buttons .btn:hover {
  background-color: #0056b3;
}

.auth-buttons .btn.register {
  background-color: #28a745;
}

.auth-buttons .btn.register:hover {
  background-color: #218838;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-left {
    width: 100%;
    justify-content: space-between;
  }

  .auth-buttons {
    width: 100%;
    justify-content: flex-end;
  }
}
